[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
django = "*"
djangorestframework = "*"
markdown = "*"
django-filter = "*"
requests = "*"
django-cors-headers = "*"
channels = "*"
channels-redis = "*"
player = "*"
tabulate = "*"
django-allauth = "*"
django-rest-auth = "*"
pillow = "*"
pyyaml = "*"
uritemplate = "*"
django-rest-swagger = "*"
drf-yasg = {extras = ["validation"], version = "*"}
gunicorn = "*"
django-heroku = "*"
psycopg2 = "*"

[requires]
python_version = "3.6"
