django
djangorestframework
markdown
django-filter
requests
django-cors-headers
channels
channels-redis
player
tabulate
django-rest-auth
pillow
pyyaml
uritemplate
django-rest-swagger
drf-yasg[validation]